@media screen and (max-width: 1400px) {

}
  
@media screen and (max-width: 1200px) {
     /* About Page Styles about.html */

     .container_about {  
        width: 60%;
    }   
}
  
@media screen and (max-width: 900px) {
    /* Profile Section */ 

    #profile {
        margin-top: 100px;
        /* margin-bottom: 30px; */
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    
    /* PROJECTS SECTION */

    .projects {
        display: none;
    }

    #projects {
        /* position: relative; */
        display: block;
        box-sizing: border-box;
        min-height: fit-content;
    }  

    /* section {
        padding-top: 4vh;
        height: 96vh;
        margin: 0 10rem;
        box-sizing: border-box;
        min-height: fit-content;
    } */
    
    .experience-details-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .details-container {
        padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        margin-top: 25px;
        transition: all .25s ease-out;
    }

    .details-container:hover {
        background-color: #f5f5f5;
        transform: scale(1.035);
        /* box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, .08); */
        /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
        box-shadow:  0 0 #e6ebef, 0 4px 24px #ccc;;
    }
    

    .color-container {
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
    }

    .article-container {
        display: flex;
        text-align: initial;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.5rem;
        justify-content: space-around;
    }
      
    .project-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    .experience-sub-title {
        color: rgb(85, 85, 85);
        font-weight: 600;
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }

    .project-title {
        margin: 1rem;
        color: black;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 8rem;
        border-radius: 2rem;
    }

    .btn-color-1,
    .btn-color-2 {
        border: rgb(53, 53, 53) 0.1rem solid;
    }
      
    .project-btn {
        color: black;
        border-color: rgb(163, 163, 163);
    }

    
    /* p_2 STYLES */

    .p_2 {
        width: 88%;
        background-color: rgb(178, 179, 179);
        /* display: block; */
        margin: auto;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .p_img {
        width: 70%;
        display: block;
        padding-top: 30px;
        /* margin: 20px auto; */
        margin: 20px auto 20px auto;
    }

    .p_imgh2 {
        text-align: center;
        margin: 20px auto;
    }

    .p_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p_btn button {
        max-width: 35%;
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    /* About Page Styles about.html */

    .container_about {  
        width: 75%;
    }

}  

@media screen and (max-width: 600px) {
    .container {  
        width: 95%;
        /* margin-left: 10%; */
        /* border: 2px solid blue; */
    }
    
    nav {
        width: 90%;
        margin-left: 2.5%;

    }

    /* About Page Styles about.html */

    .container_about {  
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    #moon {
        height: 22.5px;
        width: 22.5px;
        /* background: #aaa; */
    }

    #home, #burger-menu {
        width: 45px;
        height: 45px;
    }

    .color-changer {
        width: 137px;
        height: 45px; /* ratio of the width above and this height is 2.98208 */
    }    
      
    .child1 {
        width: 64px;
        height: 37px; /* ratio of 85.5 and 49.5 is 1.727272....
        /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
    }
      
    .child2 {
        width: 59px;
        height: 37px;
    }

     /* About Page Styles about.html */

     .container_about {  
        width: 92%;
    }   
}