* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f9f9f9;
    --child-color: #f1f1f1;
    /* --main-dark-color: #535353; */
    --main-dark-color: #000;
    /* --main-dark-color: #1f1f1f; */
    /* --child-dark-color: #5a5a5a; */
    --child-dark-color: #222222;
    --blue-color: #0c0047;
    --child-blue-color: #0d0050;
    /* --main-color: #ff5733; */
    /* The first colors that I was using */
    --color: #f4f5f7; /* main color */
    --color2: #e6e6e6;
    --color3: #eceff1;
    --color4: #f0f0f0;
    --color5: #e7e7e7;
    --color6: #e6e6e6;
    --color7: #e2e2e2;
    --color8: #e1e1e1;
    --color9: #e9e9e9;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: Inter, sans-serif; */
    background: var(--main-color);
}

.container {  
    width: 70%;
    margin: auto;
    margin-top: 25px;
    /* border: 2px solid blue; */
}

/* Navbar Styles */

nav {
    margin-top: 22px;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    /* background: palegreen; */
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
  
.color-changer {
    background: var(--child-color);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    width: 183.887px;
    height: 61.664px;
    /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
    box-shadow:  0 0 #e6ebef, 0 4px 24px #ddd;
}
  
.color-changer .child {
    border-radius: 30px;
    padding: 6px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.child1 {
    /* background-color: lightgray; */
    background: var(--child-color);
    border-radius: 30px;
    width: 85.5px;
    height: 49.5px;
    /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
    box-shadow:  0 0 #e6ebef, 0 4px 24px #ccc;
}
  
.child2 {
    /* background-color: white; */
    width: 77.5px;
    height: 49.5px;
}

#home, #burger-menu {
    width: 60px;
    height: 60px;
    background-color: var(--child-color);
    border: 0 solid #000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
    box-shadow:  0 0 #e6ebef, 0 4px 24px #d0d0d0;
}

/* ICONS */
  
.icon {
    cursor: pointer;
    height: 2rem;
}

#moon {
    height: 30px;
    width: 30px;
    /* background: #aaa; */
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.burger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    
}

.burger-links {
    position: absolute;
    top: 100%;
    right: 0;
    /* background-color: white; */
    background: var(--child-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
  
.burger-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
  
.burger-links li {
    list-style: none;
}
  
.burger-links.open {
    max-height: 300px;
}
  
.burger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
  
.burger-icon.open span:nth-child(2) {
    opacity: 0;
}
  
.burger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
  
.burger-icon span:first-child {
    transform: none;
}
  
.burger-icon span:first-child {
    opacity: 1;
}
  
.burger-icon span:first-child {
    transform: none;
}

/* Section */

section {
    padding-top: 4vh;
    /* height: 96vh; */
    /* margin: 0 10rem;  */
    box-sizing: border-box;
    /* min-height: fit-content; */
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #profile {
    margin-top: 200px;
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* height: 80vh; */
  }
  
  /*
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  */
  
.section__text {
    align-self: center;
    text-align: center;
    /* -webkit-text-fill-color: transparent; */
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;
}
  
/* .section__text p { */
    /* font-weight: 600; */
/* } */
  
.section__text__p1 {
    text-align: center;
    /* opacity: 0.5; */
}
  
.section__text__p2 {
    /* font-size: 1.75rem; */
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    /* opacity: 0.5; */
}

#city {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

#location {
    height: 22px;
    /* background-color: rebeccapurple; */
}

.location {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-left: 10px;
    /* background-color: red; */
}


/* .enjoying { */
    /* opacity: 0.8; */
    /* -webkit-text-fill-color: transparent; */
    /* background-image: linear-gradient(141deg, #969699, #1e1e22); */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
/* } */

.title {
    font-size: 3rem;
    text-align: center;
    letter-spacing: -1.25px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 70px;
    /* display: inline-block; */
    /* position: relative; */
    margin-bottom: 40px;
}

/* Projects */

#about {
    position: relative;
}
  
.project {
    border-radius: 50px;
    background-color:var(--child-color);
    height: 420px;
    margin-bottom: 50px;
    transition: all .25s ease-out;
}

.projects {
    transition: all 0.3s ease-in-out;
    margin-bottom: 100px;
}

.project:hover {
    background-color: #f5f5f5;
    transform: scale(1.035);
    /* box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, .08); */
    /* box-shadow: 0 0 #e2e4e5, 0 4px 24px #c0c0c0; */
    box-shadow:  0 0 #e6ebef, 0 4px 24px #ccc;;
}

.project1 {
    background: url(assets/plane-in-the-middle-of-buildings.jpg);
    background-size: contain;
    background-position: center center;
    /* background-repeat: no-repeat; */
}

.project2 {
    background: url(assets/Game.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.project3 {
    background: url(assets/ProShop_Image.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#projects {
    display: none;
}  

.p_2 {
    display: none;
}

/* Footer Styles */

footer {
    background-color: var(--child-color);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 #e6ebef, 0 4px 24px #aaa;
    /* flex-wrap: wrap; */
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
}

/* Some Styles for the Page about.html for the Parts That are Different */

  /* Detail Section */
  
